* {
    box-sizing: border-box;
}

body, header, section, footer {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(249, 243, 235);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f3eb;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative; /* Dodano relative, aby z-index działał */
    z-index: 2; /* Ustawienie większego z-index dla header */
}

.logo img{
    height: 40px;
    width: 40px;
}

#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}


#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
}

#menu ul li {
    display: inline-block;
    padding: 10px 10px;
    position: relative;
    list-style-type: none;
    min-width: 180px;
    height: auto;
    line-height: normal;
    font-size: 20px;
    color: #000000;
    margin: 5px;
    margin-bottom: 0px;
    text-align: center;
    box-sizing: border-box;
    border-left: 2px solid #c3c3c3;
    width: auto;
}

#menu ul li ul {
    position: absolute;
    left: 0;
    top: 100%;
    width: calc(100%); /* Dopasowuje szerokość do rodzica, uwzględniając obramowanie */
    display: none;
    background-color: rgb(249, 243, 235, 0.5);
    box-sizing: border-box;
    border-left: none;
    z-index: 4; /* Ustawienie wyższego z-index dla rozwijanego menu */
}

#menu ul li ul li {
    padding: 10px 10px;
    text-align: center;
    white-space: nowrap;
    border-left: none;
}

#menu ul li ul li a {
    text-decoration: none;
    text-align: center;
    color: #000000;
    font-size: 18px;
    transition: color 0.3s;
    display: block;
}

#menu ul li ul li a:hover {
    color: rgb(134, 84, 57);
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    border: 1px solid #ccc;
    border-radius: 1px;
    padding: 10px;
    width: 200px;
    margin: 10px 0;
    font-size: 14px;
}

.search-bar button {
    background-color: #865439;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 1px;
    cursor: pointer;
    margin-left: 5px;
    transition: background-color 0.3s;
    font-size: 14px;
}

.search-bar button:hover {
    background-color: #6d3a29;
}

.hero {
    background: url('glowne.jpg') center/cover no-repeat;
    position:relative;
    text-align: center;
    padding: 0;
    margin: 0;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 4em; /* Duży tekst */
    color: rgba(0, 0, 0, 0.9); /* Biały tekst z lekką przezroczystością */
    position: relative;
    font-weight: 400; /* Normalna grubość czcionki */
    background-color: rgb(249, 243, 235, 0.7); /* Ciemne tło dla lepszej widoczności */
    padding: 20px 40px; /* Odstępy wokół tekstu */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Delikatny cień dla eleganckiego wyglądu */
}

.popular-recipes {
    padding: 20px;
    text-align: center;
    width: 100%;
}

.popular-recipes h2 {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    padding: 20px;
    font-size: 30px;
    width: 100%;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
}

.recipe-card {
    display: flex;
    background-color:transparent;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: none; /* Usuń cień */
    overflow: hidden; /* Ukryj nadmiar zawartości */
    padding: 0; /* Usuń odstępy wewnętrzne */
    text-align: center;
    position: relative; /* Konieczne do obsługi efektu na obrazie */
    width: 100%;
}

.recipe-card img:hover {
    transform: scale(1.2);
}

.recipe-card img {
    width: 100%; /* Zdjęcie wypełnia całą szerokość */
    height: 100%; /* Zdjęcie wypełnia całą wysokość */
    object-fit: cover; /* Dopasowanie zdjęcia, zachowując proporcje */
    transition: transform 0.3s ease; /* Płynny efekt zoomu */
}

.newsletter {
    background-color: rgba(134, 84, 57, 0.6);
    padding: 20px;
    text-align: center;
    width: 100%;
    margin: 0;
}

.newsletter h2 {
    font-family: 'Poppins', sans-serif;
    color: #000000;
}

.newsletter input {
    padding: 10px;
    width: 300px;
    margin: 10px 0;
    border-radius: 1px;
    border: 1px solid #ccc;
}

.newsletter button {
    padding: 10px 20px;
    background-color: #865439;
    color: #fff;
    border-radius: 1px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
}

.newsletter button:hover {
    background-color: #6d3a29;
}

footer {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

footer p {
    font-size: 0.9em;
    color: #7c705b;
}

footer a {
    color: #865439;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


@media only screen and (max-width: 600px) {
    .recipe-grid {
        flex-direction: column;
        display: flex;
        gap: 10px;
    }
    .recipe-card {
        width: 100%;
        margin-bottom: 20px;
    }
    #menu {
        flex-direction: column;
    }
    .search-bar {
        display: flex;
        flex-direction: column; /* Układ kolumnowy */
        align-items: stretch; /* Rozciągnij elementy do pełnej szerokości */
        gap: 10px; /* Odstęp między elementami */
    }

    .search-bar input,
    .search-bar button {
        width: 100%; /* Dopasowanie szerokości */
        height: 50px; /* Ustal jednolitą wysokość */
        padding: 10px; /* Odstępy wewnętrzne */
        box-sizing: border-box; /* Uwzględnia padding i border w szerokości/wysokości */
        margin: 0; /* Usuń ewentualne marginesy */
        border: 1px solid #ccc; /* Ustaw jednolite obramowanie */
        font-size: 14px; /* Dostosowanie rozmiaru tekstu */
    }

    .search-bar button {
        width: 100%; /* Przycisk na pełną szerokość */
    }
}

@media only screen and (max-width: 1260px) {
    #menu {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        align-items: flex-start; /* Przesunięcie menu blisko logo */
    }

    #menu ul {
        display: block;  /* Ustawienie menu na blokowy */
        padding: 0;
        margin: 0;
        width: 100%; /* Menu zajmuje całą szerokość */
    }

    #menu ul li {
        display: block;  /* Każdy element menu na pełnej szerokości */
        padding: 10px 20px;
        border: none;
        text-align: left;  /* Wyrównanie tekstu do lewej */
        position: relative;
        width: 100%; /* Szerokość elementów menu na 100% */
    }

    #menu ul li ul {
        display: none;
        position: relative;
        left: 0%;  /* Pozycjonowanie rozwijanego menu po prawej stronie */
        top: 100%;
        width: 100%; /* Szerokość submenu ustawiona na 100% */
        background-color: rgb(249, 243, 235);
        min-width: 180px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-left: 2px solid #c3c3c3;
        text-align: left;
        padding: 0; /* Usuwamy padding, aby submenu było jednolite */
    }

    #menu ul li ul li {
        padding: 10px 20px;
        text-align: left; /* Wyrównanie tekstu w submenu */
        width: 100%; /* Submenu ma zajmować pełną szerokość */
    }

    #menu ul li ul li a {
        text-decoration: none;
        color: #000;
        display: block; /* Linki w submenu zajmują całą szerokość */
        width: 100%; /* Szerokość linków dopasowana do szerokości submenu */
        text-align: left; /* Wyrównanie tekstu do lewej strony */
    }
}

@media only screen and (min-width: 1261px) {
    #menu ul {
        display: flex;  /* Menu w poziomie */
        flex-direction: row;
        gap: 20px;
    }

    #menu ul li {
        display: inline-block;  /* Ustawienie elementów w jednym wierszu */
    }

    #menu ul li ul {
        display: none;  /* Submenu będzie wyświetlane tylko przy hover */
    }
}