body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(249, 243, 235);
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f3eb;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative; /* Dodano relative, aby z-index działał */
    z-index: 2; /* Ustawienie większego z-index dla header */
}

.logo img{
    height: 40px;
    width: 40px;
}
#menu {
    display: flex;
    justify-content: space-between; /* Ensure even spacing between items */
    align-items: center;
    gap: 20px;
    position: relative; /* Dodano relative, aby menu mogło mieć z-index */
    z-index: 3; /* Menu będzie miało wyższy z-index niż tło */
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
    display: flex;
}

#menu ul li {
    display: inline-block;
    padding: 10px 10px;
    position: relative;
    list-style-type: none;
    min-width: 180px;
    height: auto;
    line-height: normal;
    font-size: 20px;
    color: #000000;
    text-align: center;
    box-sizing: border-box;
}

#menu ul li + li {
    border-left: 2px solid #c3c3c3; /* Pionowa linia oddzielająca elementy */
}

#menu ul li ul {
    position: absolute;
    left: 0;
    top: 100%;
    width: calc(100% + 14px); /* Dopasowuje szerokość do rodzica, uwzględniając obramowanie */
    display: none;
    background-color: rgb(249, 243, 235, 0.5);
    box-sizing: border-box;
    border-left: none;
    z-index: 4; /* Ustawienie wyższego z-index dla rozwijanego menu */
}

#menu ul li ul li {
    padding: 10px 10px;
    text-align: center;
    white-space: nowrap;
    border-left: none;
}
#menu ul li ul li:first-child {
    margin-top: 10px;
}
#menu ul li ul li a {
    text-decoration: none;
    text-align: center;
    color: #000000;
    font-size: 18px;
    transition: color 0.3s;
    display: block;
}

#menu ul li ul li a:hover {
    color: rgb(134, 84, 57);
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    border: 1px solid #ccc;
    border-radius:5px;
    padding: 10px;
    width: 300px;
    margin: 10px 0;
}

.search-bar button {
    background-color: #865439;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    transition: background-color 0.3s;
}

.search-bar button:hover {
    background-color: #6d3a29;
}

.container {
    display: flex;
    margin: 50px auto;
    gap: 20px;
    margin-left: 20px;
}

.filters {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 500px; 
    height: 675px;
    margin-top: 80px;

}
.filters h2 {
    font-family: 'Poppins', sans-serif;
    color: #865439;
    margin-bottom: 15px;
    font-size: 1.5em;
    text-align: left;
}

.filter-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}
.filter-section div {
    display: flex;
    align-items: center; 
    gap: 10px; 
    margin-bottom: 8px;
}

.filter-section label {
    color: #7c705b;
    font-size: 1em;
    line-height: 1.5;
    cursor: pointer; 
}

.filter-section input[type="checkbox"] {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #7c705b;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.filter-section input[type="checkbox"]:checked {
    background-color: #D8F3DC;/*zmienic kolory*/
    border-color: #A7C957;
}

#keywordInput {
    width: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#addKeywordBtn {
    display: block;
    margin: 10px auto; 
    padding: 10px;
    background-color: #865439;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center; 
}

#addKeywordBtn:hover {
    background-color: #6d3a29;
}

.filtred-recipes h2 {
    font-family: 'Poppins', sans-serif;
    color: #6d3a29;
    padding: 20px;
    font-size: 30px;
    margin-top:80px;
}
.recipe-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.recipe-card {
    background-color:transparent;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: none; 
    overflow: hidden; 
    padding: 0; 
    text-align: center;
    position: relative;
}

.recipe-card img:hover {
    transform: scale(1.2);
}

.recipe-card img {
    width: 90%; 
    height: 80%; 
    object-fit: cover; 
    transition: transform 0.3s ease; 
}

.recipe-card h3 {
    font-family: 'Poppins', sans-serif;
    color: #7c705b;
    margin-top: 10px;
    font-size: 1.1em;
    text-align: center;
}

.newsletter {
    background-color: rgba(134, 84, 57, 0.6);
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.newsletter h2 {
    font-family: 'Poppins', sans-serif;
    color: #000000;
}

.newsletter input {
    padding: 10px;
    width: 300px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.newsletter button {
    padding: 10px 20px;
    background-color: #865439;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.newsletter button:hover {
    background-color: #6d3a29;
}

footer {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

footer p {
    font-size: 0.9em;
    color: #7c705b;
}

footer a {
    color: #865439;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
