* {
    box-sizing: border-box;
}

body, header, section, footer {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(249, 243, 235);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f3eb;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative; /* Dodano relative, aby z-index działał */
    z-index: 2; /* Ustawienie większego z-index dla header */
}

.logo img{
    height: 40px;
    width: 40px;
}


#menu {
    display: flex;
    justify-content: space-between; /* Ensure even spacing between items */
    align-items: center;
    gap: 20px;
    position: relative; /* Dodano relative, aby menu mogło mieć z-index */
    z-index: 3; /* Menu będzie miało wyższy z-index niż tło */
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
    display: flex;
}

#menu ul li {
    flex:1;
    display: inline-block;
    padding: 10px 10px;
    position: relative;
    list-style-type: none;
    min-width: 180px;
    height: auto;
    line-height: normal;
    font-size: 20px;
    color: #000000;
    text-align: center;
    box-sizing: border-box;
    border-left: 2px solid #c3c3c3; /* Pionowa linia oddzielająca elementy */
}

#menu ul li ul {
    position: absolute;
    left: 0;
    top: 100%;
    width: calc(100%); /* Dopasowuje szerokość do rodzica, uwzględniając obramowanie */
    display: none;
    background-color: rgb(249, 243, 235, 0.5);
    box-sizing: border-box;
    border-left: none;
    z-index: 4; /* Ustawienie wyższego z-index dla rozwijanego menu */
}

#menu ul li ul li {
    padding: 10px 10px;
    text-align: center;
    white-space: nowrap;
    border-left: none;
}
#menu ul li ul li:first-child {
    margin-top: 10px;
}
#menu ul li ul li a {
    text-decoration: none;
    text-align: center;
    color: #000000;
    font-size: 18px;
    transition: color 0.3s;
    display: block;
}

#menu ul li ul li a:hover {
    color: rgb(134, 84, 57);
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    margin: 10px 0;
    font-size: 14px;
}

.search-bar button {
    background-color: #865439;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    transition: background-color 0.3s;
    font-size: 14px;
}

.search-bar button:hover {
    background-color: #6d3a29;
}


.newsletter {
    background-color: rgba(134, 84, 57, 0.6);
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.newsletter h2 {
    font-family: 'Poppins', sans-serif;
    color: #000000;
}

.newsletter input {
    padding: 10px;
    width: 300px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.newsletter button {
    padding: 10px 20px;
    background-color: #865439;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.newsletter button:hover {
    background-color: #6d3a29;
}

footer {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

footer p {
    font-size: 0.9em;
    color: #7c705b;
}

footer a {
    color: #865439;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.hero {
    background: url('glowne_male.jpg') center/cover no-repeat;
    position:relative;
    text-align: center;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}



.container {
    display:inline-flex;
    margin:  0px 40px;
    max-width: 14000px;
}

.recipe-header {
    display: flex;
    flex-direction: row; /* Obraz po lewej, tekst po prawej */
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: 40px auto; /* Większy odstęp od góry */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 550px; /* Ogranicz szerokość sekcji */
}

.recipe-header img {
    flex: 0 0 30%; /* Zajmuje 30% szerokości sekcji */
    max-width: 300px; /* Ogranicz maksymalny rozmiar */
    height: auto;
    border-radius: 10px;
    object-fit: cover; /* Dopasowanie zdjęcia */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9d776; /* Żółte tło zapasowe */
}

.recipe-header .recipe-info {
    flex: 1 ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.recipe-header .recipe-info h2 {
    color: #8b4513;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.recipe-header .tags {
    flex-wrap: wrap; /* Umożliwia zawijanie tagów w nowym wierszu */
    display: flex;
    gap: 10px;
}

.recipe-header .tags span {
    background-color: #FFA726;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.recipe-header .tags span:hover {
    background-color: #FFB74D;
}

.recipe-header .recipe-info p {
    margin: 5px 0;
    font-size: 16px;
    color: #7c705b;
}

/* Przycisk "Pokaż przepis" */
.show-recipe-btn {
    background-color: #865439;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.show-recipe-btn:hover {
    background-color: #6d3a29;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Sekcja przepisów */
.recipe-body {
    display: none;
    justify-content: space-between;
    gap:20px;
    margin: 40px;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 1000px; /* Ogranicz szerokość sekcji */
}

.recipe-body.hidden {
    display: none;
}

.recipe-body:not(.hidden) {
    display: flex;
}

.ingredients, .instructions {
    margin-bottom: 20px;
}

.ingredients h3, .instructions h3 {
    font-family: 'Poppins', sans-serif;
    color: #8b4513;
    margin-bottom: 10px;
    font-size: 20px;
}

.ingredients ul, .instructions ol {
    margin: 0;
    padding: 0 20px;
    list-style-position: inside;
}

.ingredients ul li, .instructions ol li {
    margin-bottom: 10px;
    color: #7c705b;
}

@media only screen and (max-width: 600px) {
    #menu {
        flex-direction: column;
    }
    .search-bar {
        display: flex;
        flex-direction: column; /* Układ kolumnowy */
        align-items: stretch; /* Rozciągnij elementy do pełnej szerokości */
        gap: 10px; /* Odstęp między elementami */
    }

    .search-bar input,
    .search-bar button {
        width: 100%; /* Dopasowanie szerokości */
        height: 50px; /* Ustal jednolitą wysokość */
        padding: 10px; /* Odstępy wewnętrzne */
        box-sizing: border-box; /* Uwzględnia padding i border w szerokości/wysokości */
        margin: 0; /* Usuń ewentualne marginesy */
        border: 1px solid #ccc; /* Ustaw jednolite obramowanie */
        font-size: 14px; /* Dostosowanie rozmiaru tekstu */
    }

    .search-bar button {
        width: 100%; /* Przycisk na pełną szerokość */
    }
}

@media only screen and (max-width: 1260px) {
    #menu {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        align-items: flex-start; /* Przesunięcie menu blisko logo */
    }

    #menu ul {
        display: block;  /* Ustawienie menu na blokowy */
        padding: 0;
        margin: 0;
        width: 100%; /* Menu zajmuje całą szerokość */
    }

    #menu ul li {
        display: block;  /* Każdy element menu na pełnej szerokości */
        padding: 10px 20px;
        border: none;
        text-align: left;  /* Wyrównanie tekstu do lewej */
        position: relative;
        width: 100%; /* Szerokość elementów menu na 100% */
    }

    #menu ul li ul {
        display: none;
        position: relative;
        left: 0%;  /* Pozycjonowanie rozwijanego menu po prawej stronie */
        top: 100%;
        width: 100%; /* Szerokość submenu ustawiona na 100% */
        background-color: rgb(249, 243, 235);
        min-width: 180px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-left: 2px solid #c3c3c3;
        text-align: left;
        padding: 0; /* Usuwamy padding, aby submenu było jednolite */
    }

    #menu ul li ul li {
        padding: 10px 20px;
        text-align: left; /* Wyrównanie tekstu w submenu */
        width: 100%; /* Submenu ma zajmować pełną szerokość */
    }

    #menu ul li ul li a {
        text-decoration: none;
        color: #000;
        display: block; /* Linki w submenu zajmują całą szerokość */
        width: 100%; /* Szerokość linków dopasowana do szerokości submenu */
        text-align: left; /* Wyrównanie tekstu do lewej strony */
    }
}

@media only screen and (min-width: 1261px) {
    #menu ul {
        display: flex;  /* Menu w poziomie */
        flex-direction: row;
        gap: 20px;
    }

    #menu ul li {
        display: inline-block;  /* Ustawienie elementów w jednym wierszu */
    }

    #menu ul li ul {
        display: none;  /* Submenu będzie wyświetlane tylko przy hover */
    }
}

