* {
    box-sizing: border-box;
}

body, header, section, footer {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(249, 243, 235);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f3eb;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative; /* Dodano relative, aby z-index działał */
    z-index: 2; /* Ustawienie większego z-index dla header */
}

.logo img{
    height: 40px;
    width: 40px;
}

#menu {
    display: flex;
    justify-content: space-between; /* Ensure even spacing between items */
    align-items: center;
    gap: 20px;
    position: relative; /* Dodano relative, aby menu mogło mieć z-index */
    z-index: 3; /* Menu będzie miało wyższy z-index niż tło */
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
    display: flex;
}

#menu ul li {
    flex:1;
    display: inline-block;
    padding: 10px 10px;
    position: relative;
    list-style-type: none;
    min-width: 180px;
    height: auto;
    line-height: normal;
    font-size: 20px;
    color: #000000;
    text-align: center;
    box-sizing: border-box;
    border-left: 2px solid #c3c3c3; /* Pionowa linia oddzielająca elementy */
}

#menu ul li ul {
    position: absolute;
    left: 0;
    top: 100%;
    width: calc(100%); /* Dopasowuje szerokość do rodzica, uwzględniając obramowanie */
    display: none;
    background-color: rgb(249, 243, 235, 0.5);
    box-sizing: border-box;
    border-left: none;
    z-index: 4; /* Ustawienie wyższego z-index dla rozwijanego menu */
}

#menu ul li ul li {
    padding: 10px 10px;
    text-align: center;
    white-space: nowrap;
    border-left: none;
}
#menu ul li ul li:first-child {
    margin-top: 10px;
}
#menu ul li ul li a {
    text-decoration: none;
    text-align: center;
    color: #000000;
    font-size: 18px;
    transition: color 0.3s;
    display: block;
}

#menu ul li ul li a:hover {
    color: rgb(134, 84, 57);
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    margin: 10px 0;
    font-size: 14px;
}

.search-bar button {
    background-color: #865439;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    transition: background-color 0.3s;
    font-size: 14px;
}

.search-bar button:hover {
    background-color: #6d3a29;
}

.hero {
    background: url('glowne_male.jpg') center/cover no-repeat;
    position:relative;
    text-align: center;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}

.newsletter {
    background-color: rgba(134, 84, 57, 0.6);
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.newsletter h2 {
    font-family: 'Poppins', sans-serif;
    color: #000000;
}

.newsletter input {
    padding: 10px;
    width: 300px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.newsletter button {
    padding: 10px 20px;
    background-color: #865439;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.newsletter button:hover {
    background-color: #6d3a29;
}

footer {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

footer p {
    font-size: 0.9em;
    color: #7c705b;
}

footer a {
    color: #865439;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}





.container {
    display: flex;
    margin: 10px auto;
    gap: 10px;
    margin-left: 20px;
}


.filters {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 500px; 
    height: auto;
    margin-top: 80px;

}
.filters h2 {
    font-family: 'Poppins', sans-serif;
    color: #865439;
    margin-bottom: 15px;
    font-size: 1.5em;
    text-align: left;
}

.filter-section {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 15px;
}
.filter-section div {
    display: flex;
    align-items: center; 
    gap: 10px; 
    margin-bottom: 8px;
}

.filter-section label {
    color: #7c705b;
    font-size: 1em;
    line-height: 1.5;
    cursor: pointer; 
}

.filter-section input[type="checkbox"] {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #7c705b;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.filter-section input[type="checkbox"]:checked {
    background-color: #FFB74D;
    border-color: #FFA726;
}

#KeywordList {
    flex-direction: column;
}

#KeywordList div:first-child {
    display: flex;
    align-items: center;
    gap: 10px;
}

#KeywordListDisplay {
    margin-top: 15px; /* Odstęp od przycisków */
    display: flex;
    flex-wrap: wrap; /* Umożliwia zawijanie tagów w nowym wierszu */
    gap: 10px; /* Odstęp między tagami */
}

#KeywordList input[type="text"] {
    width: 200px;
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#KeywordList button {
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    background-color: #865439;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#KeywordList button:hover {
    background-color: #6d3a29;
}

.keyword-item {
    display: inline-flex;
    align-items: center;
    background-color: #f1f1f1;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 14px;
    color: #333;
    border: 1px solid #ccc;
    transition: background-color 0.3s ease;
}

.keyword-item:hover {
    background-color: #e0e0e0;
}

.remove-keyword-btn {
    margin-left: 8px;
    background: none;
    border: none;
    color: #865439;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    transition: color 0.3s ease;
}

.remove-keyword-btn:hover {
    color: #6d3a29;
}




.filters {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 500px; /* Zwiększona szerokość sekcji filtrowania */
    height: auto;
    margin-top: 20px;
}

.filters h2 {
    font-family: 'Poppins', sans-serif;
    color: #865439;
    margin-bottom: 15px;
    font-size: 1.5em;
    text-align: left;
}


.filtred-recipes h2 {
    font-family: 'Poppins', sans-serif;
    color: #6d3a29;
    padding: 20px;
    font-size: 30px;
    margin-top:35px;
}

#recipe-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Ustawia 2 zdjęcia obok siebie */
    gap: 20px; /* Odstęp między zdjęciami */
    width: 100%;
    justify-content: center; /* Wyrównuje siatkę w poziomie */
}

#recipe-container p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    color: #865439;
    text-align: center;
    margin-top: 20px;

}

.recipe-card {
    background-color: transparent;
    overflow: hidden; 
    padding: 10px; 
    text-align: center;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.recipe-card:hover {
    transform: scale(1.05); /* Efekt powiększenia po najechaniu */
}

.recipe-card img {
    width: 71%; 
    height: 80%;
    object-fit: cover; 
    border-radius: 10px;
    transition: transform 0.3s ease; 
}

.recipe-card img:hover {
    transform: scale(1.1); /* Powiększenie obrazu na hover */
}

.recipe-card h3 {
    font-family: 'Poppins', sans-serif;
    color: #7c705b;
    margin-top: 10px;
    text-align: center;
}
.recipe-card a {
    text-decoration: none; /* Usuwa podkreślenie */
    color: inherit; /* Dziedziczy kolor tekstu */
}

.recipe-card a:hover {
    text-decoration: none; /* Brak podkreślenia podczas najechania */
}




@media only screen and (max-width: 600px) {
    #menu {
        flex-direction: column;
    }
    .search-bar {
        display: flex;
        flex-direction: column; /* Układ kolumnowy */
        align-items: stretch; /* Rozciągnij elementy do pełnej szerokości */
        gap: 10px; /* Odstęp między elementami */
    }

    .search-bar input,
    .search-bar button {
        width: 100%; /* Dopasowanie szerokości */
        height: 50px; /* Ustal jednolitą wysokość */
        padding: 10px; /* Odstępy wewnętrzne */
        box-sizing: border-box; /* Uwzględnia padding i border w szerokości/wysokości */
        margin: 0; /* Usuń ewentualne marginesy */
        border: 1px solid #ccc; /* Ustaw jednolite obramowanie */
        font-size: 14px; /* Dostosowanie rozmiaru tekstu */
    }

    .search-bar button {
        width: 100%; /* Przycisk na pełną szerokość */
    }
}

@media only screen and (max-width: 1260px) {
    #menu {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        align-items: flex-start; /* Przesunięcie menu blisko logo */
    }

    #menu ul {
        display: block;  /* Ustawienie menu na blokowy */
        padding: 0;
        margin: 0;
        width: 100%; /* Menu zajmuje całą szerokość */
    }

    #menu ul li {
        display: block;  /* Każdy element menu na pełnej szerokości */
        padding: 10px 20px;
        border: none;
        text-align: left;  /* Wyrównanie tekstu do lewej */
        position: relative;
        width: 100%; /* Szerokość elementów menu na 100% */
    }

    #menu ul li ul {
        display: none;
        position: relative;
        left: 0%;  /* Pozycjonowanie rozwijanego menu po prawej stronie */
        top: 100%;
        width: 100%; /* Szerokość submenu ustawiona na 100% */
        background-color: rgb(249, 243, 235);
        min-width: 180px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-left: 2px solid #c3c3c3;
        text-align: left;
        padding: 0; /* Usuwamy padding, aby submenu było jednolite */
    }

    #menu ul li ul li {
        padding: 10px 20px;
        text-align: left; /* Wyrównanie tekstu w submenu */
        width: 100%; /* Submenu ma zajmować pełną szerokość */
    }

    #menu ul li ul li a {
        text-decoration: none;
        color: #000;
        display: block; /* Linki w submenu zajmują całą szerokość */
        width: 100%; /* Szerokość linków dopasowana do szerokości submenu */
        text-align: left; /* Wyrównanie tekstu do lewej strony */
    }
}

@media only screen and (min-width: 1261px) {
    #menu ul {
        display: flex;  /* Menu w poziomie */
        flex-direction: row;
        gap: 20px;
    }

    #menu ul li {
        display: inline-block;  /* Ustawienie elementów w jednym wierszu */
    }

    #menu ul li ul {
        display: none;  /* Submenu będzie wyświetlane tylko przy hover */
    }
}