* {
    box-sizing: border-box;
}

body, header, section, footer {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(249, 243, 235);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f3eb;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2; 
}

.logo img{
    height: 40px;
    width: 40px;
}


#menu {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 20px;
    position: relative;
    z-index: 3;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
    display: flex;
}

#menu ul li {
    flex:1;
    display: inline-block;
    padding: 10px 10px;
    position: relative;
    list-style-type: none;
    min-width: 180px;
    height: auto;
    line-height: normal;
    font-size: 20px;
    color: #000000;
    text-align: center;
    box-sizing: border-box;
    border-left: 2px solid #c3c3c3;
}

#menu ul li ul {
    position: absolute;
    left: 0;
    top: 100%;
    width: calc(100%); 
    display: none;
    background-color: rgb(249, 243, 235, 0.5);
    box-sizing: border-box;
    border-left: none;
    z-index: 4; 
}

#menu ul li ul li {
    padding: 10px 10px;
    text-align: center;
    white-space: nowrap;
    border-left: none;
}
#menu ul li ul li:first-child {
    margin-top: 10px;
}
#menu ul li ul li a {
    text-decoration: none;
    text-align: center;
    color: #000000;
    font-size: 18px;
    transition: color 0.3s;
    display: block;
}

#menu ul li ul li a:hover {
    color: rgb(134, 84, 57);
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    margin: 10px 0;
    font-size: 14px;
}

.search-bar button {
    background-color: #865439;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    transition: background-color 0.3s;
    font-size: 14px;
}

.search-bar button:hover {
    background-color: #6d3a29;
}


.newsletter {
    background-color: rgba(134, 84, 57, 0.6);
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.newsletter h2 {
    font-family: 'Poppins', sans-serif;
    color: #000000;
}

.newsletter input {
    padding: 10px;
    width: 300px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.newsletter button {
    padding: 10px 20px;
    background-color: #865439;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.newsletter button:hover {
    background-color: #6d3a29;
}

footer {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

footer p {
    font-size: 0.9em;
    color: #7c705b;
}

footer a {
    color: #865439;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.hero {
    background: url('glowne_male.jpg') center/cover no-repeat;
    position:relative;
    text-align: center;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}


#map {
    width: 100%;
    height: 400px;
    margin: 20px auto;
    border: 1px solid #ccc;
}

.map-section {
    padding: 20px;
    text-align: center;
    margin: 20px auto;
    max-width: 800px;
}

.map-section h2 {
    font-family: 'Poppins', sans-serif;
    color: #000;
    margin-bottom: 15px;
    font-size: 1.5em;
}

.container {
    display:inline-flex;
    margin:  0px 40px;
    max-width: 14000px;
}

.recipe-header {
    display: flex;
    flex-direction: row; /* Obraz po lewej, a tekst po prawej */
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: 40px auto; 
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 550px; 
}

.recipe-header img {
    flex: 0 0 30%; /* zdj zajmuje 30% szerokości sekcji */
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    object-fit: cover; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9d776; 
}

.recipe-header .recipe-info {
    flex: 1 ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.recipe-header .recipe-info h2 {
    color: #8b4513;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.recipe-header .tags {
    flex-wrap: wrap; /* umozliwia zawijanie tagów w nowym wierszu */
    display: flex;
    gap: 10px;
}

.recipe-header .tags span {
    background-color: #FFA726;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.recipe-header .tags span:hover {
    background-color: #FFB74D;
}

.recipe-header .recipe-info p {
    margin: 5px 0;
    font-size: 16px;
    color: #7c705b;
}

/* Przycisk "Pokaż przepis" */
.show-recipe-btn {
    background-color: #865439;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.show-recipe-btn:hover {
    background-color: #6d3a29;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Sekcja przepisów */
.recipe-body {
    display: none;
    justify-content: space-between;
    gap:20px;
    margin: 40px;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
}

.recipe-body.hidden {
    display: none;
}

.recipe-body:not(.hidden) {
    display: flex;
}

.ingredients, .instructions {
    margin-bottom: 20px;
}

.ingredients h3, .instructions h3 {
    font-family: 'Poppins', sans-serif;
    color: #8b4513;
    margin-bottom: 10px;
    font-size: 20px;
}

.ingredients ul, .instructions ol {
    margin: 0;
    padding: 0 20px;
    list-style-position: inside;
}

.ingredients ul li, .instructions ol li {
    margin-bottom: 10px;
    color: #7c705b;
}

@media only screen and (max-width: 600px) {
    #menu {
        flex-direction: column;
    }
    .search-bar {
        display: flex;
        flex-direction: column; /* układ kolumnowy */
        align-items: stretch; /* rozciaga elementy do pełnej szerokości */
        gap: 10px; 
    }

    .search-bar input,
    .search-bar button {
        width: 100%;
        height: 50px; 
        padding: 10px;
        box-sizing: border-box; 
        margin: 0; 
        border: 1px solid #ccc; 
        font-size: 14px; 
    }

    .search-bar button {
        width: 100%; 
    }

}

@media only screen and (max-width: 1260px) {
    #menu {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        align-items: flex-start; 
    }

    #menu ul {
        display: block;  
        padding: 0;
        margin: 0;
        width: 100%; 
    }

    #menu ul li {
        display: block; 
        padding: 10px 20px;
        border: none;
        text-align: left;  
        position: relative;
        width: 100%; 
    }

    #menu ul li ul {
        display: none;
        position: relative;
        left: 0%; 
        top: 100%;
        width: 100%; 
        background-color: rgb(249, 243, 235);
        min-width: 180px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-left: 2px solid #c3c3c3;
        text-align: left;
        padding: 0; 
    }

    #menu ul li ul li {
        padding: 10px 20px;
        text-align: left;
        width: 100%; 
    }

    #menu ul li ul li a {
        text-decoration: none;
        color: #000;
        display: block; 
        width: 100%; 
        text-align: left; 
    }



    .container {
        display: flex;
        flex-direction: column; /* układ pionowy */
        gap: 20px;
    }

    .recipe-header {
        order: 1; /* opis przepisu wyżej! */
        margin: 20px auto;
        padding: 20px;
        max-width: 100%; 
    }

    .recipe-body {
        order: 2; /* instrukcje poniżej! */
        margin: 20px auto;
        padding: 20px;
        max-width: 100%; 
        display: none; /* domyslnie ukrytz */
        opacity: 0; /* niewidoczna */
        max-height: 0; /* Brak miejsca na ukrytą sekcję */
        overflow: hidden; /* Ukrycie treści */
        transition: max-height 0.3s ease, opacity 0.3s ease; /* płynne animacje */
        
    }

    .recipe-body.hidden {
        display: none; /* Sekcja nadal ukryta */
    }

    .recipe-body:not(.hidden) {
        display: block; /* Widoczna sekcja */
        opacity: 1; /* Widoczna */
        max-height: 1000px; /* Przestrzeń na widoczną sekcję */
        overflow: auto; /*  Właczone przewijanie w razie potrzeby */
        
    }

    .show-recipe-btn {
        display: inline-block;
        background-color: #865439;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        font-size: 16px;
        margin-top: 10px;
        transition: background-color 0.3s ease;
    }

    .show-recipe-btn:hover {
        background-color: #6d3a29;
    }
}

@media only screen and (min-width: 1261px) {
    #menu ul {
        display: flex;  
        flex-direction: row;
        gap: 20px;
    }

    #menu ul li {
        display: inline-block;  
    }

    #menu ul li ul {
        display: none;  
    }
}

